# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/

# Build output
target/
dist/
out/

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# Other
.DS_Store
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
HELP.md
!**/src/main/**/target/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
