# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/

# Build output
target/
dist/
out/
bin/

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# Other
.DS_Store
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
HELP.md
